* {
  scrollbar-width: thin;
}

[data-theme="light"] * {
  scrollbar-color: #00000059 transparent;
}

[data-theme="dark"] * {
  scrollbar-color: #ffffff59 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

[data-theme="light"] *::-webkit-scrollbar-thumb {
  background-color: #00000059;
}

[data-theme="dark"] *::-webkit-scrollbar-thumb {
  background-color: #ffffff59;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
